* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-color: var(--dark);
    color: var(--light);
}

:root {
    --dark: #080f0e;
    --light: #fcf2eb;
    --darkgreen: #006A00;
    --limegreen: #A5C72C;
    --orange: #C7990A;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 10px 10px;
    grid-template-areas:
        "Startseite Startseite"
        "Infos Infos"
        "Main Main"
        "Main Main"
        "Main Main"
        "Main Main"
        "Main Main"
        "Donation Donation"
        "Footer Footer";
}

.Startseite {
    grid-area: Startseite;
    background-image: url('images/capybara-in-a-bucket.gif');
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
}

#titel {
    line-height: 100vh;
    font-size: 3em;
    font-family: 'Merriweather';
    background: transparent;
    color: var(--dark);
}

.Infos {
    grid-area: Infos;
    margin: 1em;
    font-size: 1.2em;
}

.Main {
    grid-area: Main;
}

.Donation {
    grid-area: Donation;
}

.Footer {
    grid-area: Footer;
}


/* h1 {
    margin: 0.5em;
    text-align: center;
    font-size: 3em;
} */