* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-color: var(--dark);
    color: var(--light);
}

:root {
    --dark: #0F1F1B;
    --light: #fcf2eb;
    --darkgreen: #006A00;
    --limegreen: #A5C72C;
    --orange: #C7990A;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Startseite Startseite"
        "Infos Infos"
        "Main Main"
        "Main Main"
        "Main Main"
        "Main Main"
        "Main Main"
        "Donation Donation"
        "Footer Footer";
}

.Startseite {
    grid-area: Startseite;
}

.Infos {
    grid-area: Infos;
}

.Main {
    grid-area: Main;
}

.Donation {
    grid-area: Donation;
}

.Footer {
    grid-area: Footer;
}


h1 {
    margin: 0.5em;
    text-align: center;
    font-size: 3em;
}

p {
    margin: 1em;
    font-size: 1.2em;
}