* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

:root {
    --dark: #0F1F1B;
    --light: #F2E5DA;
    --darkgreen: #006A00;
    --limegreen: #A5C72C;
    --orange: #C7990A;
}